.banner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 80px;
}

.banner-contents {
	display: flex;
	align-items: center;
	justify-content: center;
}
.content span {
	color: crimson;
}
.content {
	width: 70%;
}

.content button {
	border-radius: 50px;
	color: white;
	background-color: crimson;
}
.b_image img {
	margin-left: 80px;
}

/* responsive */

@media (min-width: 368px) {
	.banner {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		/* justify-items: center; */
		/* justify-content: center; */
	}
}

@media (min-width: 768px) {
	.banner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		/* justify-items: center; */
		/* justify-content: center; */
	}
}

@media (min-width: 1168px) {
	.banner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		/* justify-items: center; */
		/* justify-content: center; */
	}
}
