footer {
	padding-top: 100px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}
.container{
     
}
.quick_link {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.quick_link i {
	margin: 5px;
	font-weight: normal;
}
.quick_link i:hover {
	color: crimson;
	font-weight: bold;
}
.quick_link span {
	color: crimson;
}
.copyright-text{
     display: flex;
}
.copyright-text span {
	color: crimson;
	font-weight: 700;
	font-size: 600;
	font-family: sans-serif;
     margin-left: 10px;
}
hr {
	color: crimson;
	font-weight: 700;
}

@media (min-width: 368px) {
	footer {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
          
	}
     .copyright-text {
          font-size: 14px;
     }
}
@media (min-width: 768px) {
	footer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}
}
@media (min-width: 1168px) {
	footer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
	}
}
